{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- main content area -->
	<main class="content float-right">

		<!-- section login -->
		<section class="hero background parallax shadow-dark d-flex align-items-center padding" id="home" >
			<div class="cta mx-auto mt-2">
			<h1 class="section-title mt-0 mb-4">Reset Done<span class="dot"></span></h1>
			<div class="spacer" data-height="80"></div>

			<div class="row">

				<div class="col-md">
					<!-- Contact Form -->
                    
<div class="container">
    <div class="content-section">

<p>Your password has been set. You may go ahead and log in now.</p>

<button class="btn btn-default"><a href="{% url 'login' %}">Log in</a></button>
    </div>
</div>
					<!-- Contact Form end -->
				</div>

			</div>
			</div>
			<div class="overlay"></div>
		</section>

	</main>

{% endblock %}





{% comment %} 
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Pass</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Req</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %} {% endcomment %}